/*------------------
*********cd-content left
content weather and data
-------------------*/
.cd-left{
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 0 35px;
    font-size: 1.8rem;
    line-height: 1.6;
    color: white;
    position: relative ;   
  }
 .cd-left #time{
    color: white;
    position: relative ;
    font-size: 7.0rem;
    line-height: 8.0rem;
    text-align: center;
    margin:0;
    padding:0;   
 }
 #location_block{
    background-color: rgba(211, 86, 87, 0.7);
    font-size: 1.8rem;
    padding: 10px;
    line-height: 2.5rem;
    text-align: center;
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.8rem;
    padding: 10px;
    line-height: 2.5rem;
    text-align: center;
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px;
    border-radius: 10px 10px 0px 0px;
 }
 .cd-left #day{
  
    background-color: rgba(211, 86, 87, 0.7);
    font-size: 1.8rem;
    padding: 10px;
    line-height: 2.5rem;
    text-align: center;
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px 0px 5px 5px;
    font-size: 1.8rem;
    padding: 10px;
    line-height: 2.5rem;
    text-align: center;
    -moz-border-radius: 0px 0px 5px 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px 0px 5px 5px;
   
 }
 .cd-left .times{
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: -1px 5px 4px rgba(0, 0, 0, 0.4);
    padding: 5px 0 20px;
    border-radius: 10px 10px 0 0;
 }
 #weather_today{
  background-color: rgba(0, 0, 0, 0.6);
  text-shadow: -1px 5px 4px rgba(0, 0, 0, 0.4);
  padding: 10px 0 0px;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
 }
 #set_weather{
    margin-top: 15px;
    padding: 0;
 }
 #set_weather .description{
    background-color: rgba(131, 176, 185, 0.3);
    border-radius: 0px 0px 10px 10px;
    margin: 0;
    padding: 0px 0 4px;
 }
 .cd-left .weather-day{
   background-color: rgba(0, 0, 0, 0.6);
    text-shadow: -1px 5px 4px rgba(0, 0, 0, 0.4);
    padding: 5px 0 20px;
    border-radius: 10px 10px 0 0;
 }



/*----------------------------- content cd right---------------- */
.cd-right{
    width: 55%;
    display: inline-block;
    color: white;
    margin-left: 25px;
    padding: 0 35px;
    line-height: 1.6;
    font-size: 1.8rem;
  } 

 /* -------------------------------- 

 content quote css

-------------------------------- */

.box{
    position: relative;
    width: 90%;
    height: 350px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.5s;
    margin-left: 50px;
}
.box::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #bb7074;
    border-left: 20px solid #bb7074;
    border-top-left-radius: 10px;
    box-sizing: border-box;
} 
.box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 20px solid #bb7074;
    border-right: 20px solid #bb7074;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}
#quote{
    position: absolute;
    top: 30px;
    left: -30px;
    background: rgba(52, 70, 74, 1);
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    transition: 0.5s;
    border-radius: 10px;

}
#quote .container{
    position: absolute;
    top: 50%;
    left: 0;
    width: 90%;
    transform: translateY(-50%);
    z-index: 3;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
} 
#quote .text_quote, #quote .container h5{
    margin: 0;
    padding: 0;
    color: beige;
}
#quote .text_quote{
  font-style: italic;
  font-size:1.6rem;
  line-height: 24px;
  width: 100%;
}
#quote .container .speech_mark_large{
  color: rgb(187, 112, 116);
  font-size: 6rem;
  vertical-align: top;
  top: 8px;
  position: relative;

}
#quote .container h5{
  color: rgb(187, 112, 116);
}


#quote .container button{

    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.8em;
    margin-top: 0.7em;
    border-radius: 3px;
    background: #bb7074;
    box-shadow: 0 -2px #a15f62 inset;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
}
#quote .container button:hover { 
    background: rgb(146, 85, 88); 
}
