/*------------------
*cd-left
content schedule
-------------------*/
.cd-left {
    width: calc(100% - 80px - 45%);
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-right: 80px;
}

/*-----------------------
section#schedule_wrp
-------------------------*/

#schedule_wrp > h1 {
	font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
    color: black;
}

#schedule {
    width: 100%;
    margin-top: 25px;
    display: table;
    border-collapse: collapse;
}

.schedule_item {
	display: table-row;
    width: 100%;
    border-bottom: 1px solid white;

}

.task_date {
    display: table-cell;
	width: 20%;
	vertical-align: middle;
	text-align: center;
    padding: 10px;
    background-color:#83b0b9;
    transition: 0.3s ease;
}

div.schedule_item:first-child .task_date{
    background-color: grey;
}

div.schedule_item:nth-child(2) .task_date{
    background-color: #a15f62;
}

div.schedule_item:hover {
    border-bottom-color: grey;
}

span.weekday {
    display: block;
    font-size: 16px;
    font-weight: 700;
}

span.day_month {
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.taskSet {
    display: table-cell;
	width: calc(100% - 20%);
    vertical-align: middle;
    padding: 15px 25px 10px 15px;
}

div.schedule_item:first-child .taskSet{
   background-color:rgba(194, 194, 194, 0.3);
}

div.schedule_item:first-child .taskSet p {
   color: grey;
}

div.schedule_item:nth-child(2) .taskSet{
    position: relative;
}

div.schedule_item:nth-child(2) .taskSet::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 3px;
    transform: translateY(-50%);
    border: 20px solid transparent;
    border-right: 20px solid #a15f62;
}

.task_row {
    margin-bottom: 10px;
}

.task_row > p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    color: black;
}

.hide {
    display: none;
    transition: display 0.6s ease;
}

.task_row > p > span {
    text-decoration: line-through;
    font-style: italic;
}

.statOutput {
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
    color: #a15f62;
}

.statOutput > span.completed {
    font-weight: 700;
    color: grey;
}

.statOutput > span.total {
    font-weight: 700;
    color: #131519;
}

/*------------------
*cd-right
content weather date quotes
-------------------*/
.cd-right {
    width: 45%;
    display: inline-block;
    vertical-align: top;
    color: white;
}
  /*-----------------------
section#.dateAndWeather_wrp
-------------------------*/

div#set_date {
    width: calc((100% - 15px)/ 2);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-right: 15px;
}

#time {
    font-size: 34px;
    font-weight: 700;
    line-height: 2.85em;
    background-color: rgba(52, 70, 74, 1);
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
}

#day {
    font-size: 16px;
    line-height: 1.7em;
    background-color: #a15f62;
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
}

div#set_weather {
    width: calc((100% - 15px)/ 2);
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: rgba(52, 70, 74, 1);
    border-radius: 7px;
}

h3#location {
    background-color: #a15f62;
    font-size: 16px;
    line-height: 1.7em;
    border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -webkit-border-radius: 7px 7px 0px 0px;   
}

div#weather_today {
    padding: 5px 5px 0;
}

img.weather_icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    width: 35%;
}

h3.temp {
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

h3.temp > span {
    display: block;
    font-weight: 700;
}

h3.temp > span.temp_min {
    color: #a15f62;
}

h3.description {
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 700;
    border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -webkit-border-radius: 0px 0px 7px 7px;
}

 /* -------------------------------- 
 content quote css
-------------------------------- */

.quote_wrp {
    width: 100%;
    display: inline-block;
    color: white;
    margin-top: 60px;
} 

.box{
    position: relative;
    width: calc(100% - 60px);
    height: 350px;
    transform-style: preserve-3d;
    perspective: 2000px;
    transition: 0.5s;
    margin-left: 30px;
}
.box::before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    border-top: 20px solid #bb7074;
    border-left: 20px solid #bb7074;
    border-top-left-radius: 10px;
    box-sizing: border-box;
} 
.box::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border-bottom: 20px solid #bb7074;
    border-right: 20px solid #bb7074;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
}
#quote{
    position: absolute;
    top: 30px;
    left: -30px;
    background: rgba(52, 70, 74, 1);
    width: calc(100% + 60px);
    height: calc(100% - 60px);
    transition: 0.5s;
    border-radius: 10px;

}
#quote .container{
    position: absolute;
    top: 50%;
    left: 0;
    width: 90%;
    transform: translateY(-50%);
    z-index: 3;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
} 
#quote .text_quote, #quote .container h5{
    margin: 0;
    padding: 0;
    color: beige;
}
#quote .text_quote{
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1.2em;
  width: 100%;
}
#quote .container .speech_mark_large{
  color: rgb(187, 112, 116);
  font-size: 3rem;
  vertical-align: top;
  top: 8px;
  position: relative;

}
#quote .container h5{
  color: rgb(187, 112, 116);
  font-size: 1rem;
  margin-top: 10px; 
}

#quote .container button{
    font-weight: 700;
    font-size: 0.8rem;
    color: white;
    text-decoration: none;
    padding: 0.5em 0.8em;
    margin-top: 0.7em;
    background: #bb7074;
    box-shadow: 0 -2px #a15f62 inset;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: 1px solid #a15f62;
}

#quote .container button:hover { 
    background: rgb(146, 85, 88); 
}
