
ul.todolist .hide {
	display: none;
}

.inpError{
	border: 2px solid red;
}

/*----------------------
section.tasks_header
-----------------------*/
/*----------------------
div#addTaskBar
----------------------*/

.tasks_header {
	display: block;
	text-align: center;
	margin-bottom: 50px;
}

#addTaskBar {
  	display: inline-block;
  	vertical-align: middle;
  	margin-right: 40px;
  	margin-bottom: 20px;
}

#addTaskBar h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 64px;
	margin-bottom: 40px;
}

#addTaskBar > input {
	display: inline-block;
	vertical-align: middle;
	outline: none;
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	padding: 10px;
	height: 45px;
	border: 1px solid rgba(85, 85, 85, 1);
}

#inpDate {
	width: 180px;
	margin-right: 10px;
	border-radius: 5px;
}

#addtask {
	max-width: 290px;
	border-radius: 5px 0px 0px 5px;
}

#addTaskBar > button {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	outline: none;
	border: none;
	border-radius: 0px 5px 4px 0px;
	background-color: rgba(85, 85, 85, 1);
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	color: white;
	transition: 0.3s ease;
}

#addTaskBar > button:hover {
	background-color: #ffb366;
	cursor: pointer;
}

/*----------------------
calendar
----------------------*/
div.calendar_wrp {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	padding: 10px;
	border-radius: 20px;
	background-color: white;
}

table#calendar2 {
  	width: 100%;
  	border-collapse: collapse;	 
}

th, td {
 	width: calc(100% / 7);
	border: none;
}

th {
	padding: 10px 5px;
}

#calendar2 thead tr:first-child {
	font-size: 20px;
	background-color: #ffb366;
	color: white;
	transition: color 0.3s ease;
	line-height: 1.4em;
	padding: 10px 5px;
}

#calendar2 thead tr:first-child th:nth-child(1):hover,
#calendar2 thead tr:first-child th:nth-child(3):hover {
   	cursor: pointer;
	color: rgba(0, 51, 153, 1);
}

#calendar2 thead tr:last-child th {
	color: rgba(0, 51, 153, 1);
	border-bottom: 3px solid rgba(0, 51, 153, 1);
	font-size: 12px;
	line-height: 1.1em;
}

#calendar2 thead tr:last-child th:nth-child(n+6){
	color: rgb(51, 204, 51);
}

table#calendar2 td {
	padding: 5px;
	color: rgb(44, 86, 122);
	font-size: 12px;
	line-height: 1.1em;
	border-radius: 7px;
}

#calendar2 tbody td:nth-child(n+6), 
#calendar2 .holiday {
	color: rgb(51, 204, 51);
	font-weight: 700;
}

#calendar2 tbody td.today {
	background-color:#ffb366;
	font-weight: 700;
	color: white;
}

#calendar2 td.occupied {
	background-color: rgba(0, 51, 153, 1); /*darkblue*/
	color: white;
}

#calendar2 td.occupied:hover,
#calendar2 td.all_completed:hover {
	opacity: 0.7;
	cursor: pointer;
}

#calendar2 td.all_completed {
	background-color: rgb(217, 242, 230);
}

/*----------------------
list
----------------------*/

ul.todolist {	
	width: calc((100% - 50px) / 2);
	display: inline-block;
	vertical-align: top;
	background-color: white;
	list-style: none;
	border: 1px solid rgba(85, 85, 85, 1);
	border-radius: 5px;
	padding: 10px 20px 20px;
	margin-top: 30px;
	box-shadow: 3px 3px 5px rgba(85, 85, 85, 1);
}

ul.todolist:nth-child(odd){
	margin-right: 50px;
}

ul.todolist > span.close_list {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-left: calc(100% - 25px);
	font-size: 16px;
	text-align: center;
	transition: color 0.3s ease;
}

ul.todolist > span.close_list:hover {
	color: #ffb366;
}

ul.todolist > p {
	font-size: 20px;
	line-height: 1.7em;
	text-align: center;
	font-weight: 700;
	background-color: #ffe6cc;
}

ul.todolist > div {
	margin: 30px 0px;
	font-size: 16px;
}

ul.todolist > nav {
	margin-bottom: 20px;
	text-align: center;
}

ul.todolist > nav > p {
	margin: 10px 0px;
	font-size: 18px;
	font-weight: 700;
	font-style: italic;
	text-align: left;
}

ul.todolist > nav > button,
ul.todolist > nav > label {
  	display: inline-block;
  	vertical-align: middle;
  	background: transparent;
	outline: none;
	border:none;
  	border-bottom: 1px solid rgba(255, 205, 148, 1);
  	color: rgba(85, 85, 85, 1);
  	text-align: center;
  	font-size: 12px;
	padding: 5px;
	transition: background-color border-color color 0.3s ease;
	margin: 7px 5px 0px 0px;
}

ul.todolist > nav > button:hover,
ul.todolist > nav > label:hover {
	background-color:#ffb366;
	border-color: #ffb366;
	border-radius: 10px;
	color: white;
} 

li.todoitem {
	border-bottom: 1px solid rgba(255, 205, 148, 1);
	padding: 10px 5px;
	font-size: 14px;
	transition: display 1s ease;
}
	
li.todoitem  > span,
li.todoitem  > textarea {
	width: calc(100% - 105px - 10px);
  	vertical-align: middle;
   	text-align: left;
   	padding: 0 10px;
}

li.todoitem  > span {
  	display: inline-block;
}

li.todoitem  > textarea {
	resize: none;
	outline: none;
	border: 1px solid rgba(255, 205, 148, 1); 
}

li.todoitem > button,
li.todoitem > label {
	width: 35px;
	height: 35px;
  	display: inline-block;
  	vertical-align: middle;
  	background: transparent;
  	outline: none;
  	border: 2px solid transparent/*rgba(255, 205, 148, 1)*/;
  	border-radius: 50%;
  	color: rgba(85, 85, 85, 1);
	text-align: center;
	font-size: 12px;
  	line-height: 31px;
  	transition: color 0.3s ease;
}

li.todoitem:hover {
	background-color: rgba(255, 205, 148, 1);
	border-radius: 10px;
}

li.todoitem:hover > button,
li.todoitem:hover > label {
	cursor: pointer;
	background-color: #ffb366;
}

li.todoitem > button:hover,
li.todoitem > label:hover{
	color: #f2f2f2;
}

li.todoitem > button[disabled="true"] {
	color: red;
}

.done_task {
	text-decoration: line-through;
	font-style: italic;
	color: grey;
}

li.todoitem > .inp_checked {
	color: rgb(51, 204, 51);
	border-color: rgba(51, 204, 51, 1);
}

button#return_btn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 16px;
	position: fixed;
	right: 25px;
	bottom: 20px;
	background: #ffb366;
	border:1px solid #ffb366;
	outline: none;
	transition: 0.3s ease;
}

button#return_btn i {
	line-height: 30px;
}

button#return_btn:hover {
	color: white;
	border-color: white;
}