
h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

/*-----------------------------
section#weather_today
------------------------------*/

#weather_today {
	display: inline-block;
	vertical-align: top;
	width: calc((100% - 30px) / 2);
	border-radius: 7px;
	background-color:  rgba(0, 0, 0, 0.5);
	padding: 15px;
	margin-right: 30px;
	text-align: center;
}

img.weather_icon {
	display: block;
	margin: 10px auto;
}

#weather_today > img.weather_icon {
	width: 100px;
}

h2.temp {
	margin: 15px;
}

h2.temp span.temp_max {
	font-size: 30px;
}

span.other_info {
	display: inline-block;
	vertical-align: top;
	max-width: calc((100%  - 40px) / 3);
	margin-right: 15px;
}

span.other_info:last-child {
	margin-right: 0;
}

span.other_info > i {
	font-size: 20px;
	margin-right: 10px;
}

/*-----------------------------
section#left
------------------------------*/

.left {
	display: inline-block;
	width: calc((100% - 30px) / 2);
	vertical-align: top;
	text-align: center;
}

div#location_block {
	margin-bottom: 30px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 7px;
	text-align: right;
}

div.loc_wrp {
	display: inline-block;
	margin-right: 30px; 
}

div.loc_wrp h2 {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	margin-bottom: 8px;
}

div#location_block > span {
	font-size: 45px;
	display: inline-block;
	vertical-align: top;
}

input {
	width: calc(100% - 20px - 30%);
	min-width: 200px;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 30px;
	margin: 0 auto;
	border-radius: 7px;
	outline: none;
	border: 2px solid  rgba(0, 0, 0, 1);
	padding: 2px 15px;
	display: block;
	background-color: rgba(242, 242, 242, 0.7);
}

button {
	background-color:  rgba(0, 0, 0, 0.5);
	border: 2px solid  rgba(0, 0, 0, 0.5);
	border-radius: 7px;
	outline: none;
	padding: 7px 15px;
	margin: 30px 0;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	color: white;
	transition: background-color 0.3s ease;
}

button:hover {
	cursor: pointer;
	background-color: rgba(139, 195, 74, 1);
}

/*-----------------------------
section#weather_forecast
------------------------------*/

.weather_forecast{
	border-radius: 7px;
	background-color:  rgba(0, 0, 0, 0.5);
	margin-top: 30px;
	text-align: center;
}

div.weather_item {
	width: calc(100% / 5);
	height: 100%;
	display: inline-block;
	vertical-align: top;
	border-right: 2px solid rgba(0, 0, 0, 1);
	padding: 10px;
}

div.weather_item:last-child {
	border-right: none;
}

.temp > span {
	display: block;
	font-weight: 700;
}

span.temp_max {
	margin-bottom: 8px;
}

h3.weekday,
h3.date {
	background-color: rgba(139, 195, 74, 1);
	line-height: 1.5em;
}

h3.weekday {
	text-transform: uppercase;

}

span.temp_min {
	color:rgba(139, 195, 74, 1);
}

/*-----------------------------
div#error
------------------------------*/

div#error {
	font-size: 16px;
	border-radius: 7px;
	padding: 10px;

}

.error {
	color: red;
	border: 2px solid red; 
	background-color: rgba(242, 242, 242, 0.7);
}
